@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;800&family=Open+Sans:wght@500&family=Quicksand:wght@600&display=swap');
*{
    font-family: "Inter",sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1167px;
    padding: 0 15px;
    margin: 0 auto;
}

header{
    height: 110px;
    width: 100%;
    background-color: #E0ECCB;
}

.mr_flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo{
    width: 147px;
    height: 72px;
    align-self: center;
}

.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.nav-text{
    font-weight: bold;
    color: #010101;
    font-size: 24px;
    font-weight: bold;
    padding-right: 30px;
    line-height: 110px;
}

.nav-cart{
    width: 69px;
    height: 59px;
    align-self: center;
}

.hero{
    background: url("../img/hero-background.png") 100% 100%/ 100% 100%;
    height: 901px;
    width: 100%;
}

.hero_flex{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.health{
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 14px;
}

.food{
    font-size: 64px;
    font-weight: 300;
    padding-bottom: 32px;
}

.buy-now{
    background-color: #A5D157;
    border-radius: 50px;
    width: 296px;
    height: 74px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

